<h5> Confira a lista completa de Periódicos </h5>

<div class = "row">
  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[0].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[0].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[0].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[0].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>


        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[1].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[1].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[1].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[1].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>


        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[2].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[2].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[2].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[2].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>


        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[3].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[3].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[3].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[3].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>


        </div>
      </div>
  </div>

</div>

<div class="row">
  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[4].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[4].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[4].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[4].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>


        </div>
      </div>
  </div>



  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[5].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[5].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[5].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[5].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>


        </div>
      </div>
  </div>




  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[6].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[6].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[6].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[6].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>


        </div>
      </div>
  </div>



  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[7].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[7].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[7].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[7].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>
</div>

<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[8].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[8].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[8].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[8].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[9].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[9].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[9].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[9].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[10].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[10].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[10].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[10].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[11].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[11].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[11].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[11].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>



<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[12].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[12].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[12].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[12].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[13].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[13].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[13].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[13].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[14].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[14].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[14].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[14].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[15].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[15].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[15].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[15].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>



<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[16].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[16].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[16].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[16].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[17].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[17].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[17].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[17].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[18].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[18].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[18].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[18].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[19].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[19].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[19].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[19].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>



<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[20].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[20].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[20].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[20].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[21].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[21].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[21].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[21].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[22].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[22].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[22].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[22].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[23].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[23].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[23].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[23].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>


<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[24].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[24].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[24].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[24].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[25].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[25].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[25].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[25].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[26].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[26].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[26].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[26].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[27].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[27].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[27].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[27].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>


<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[28].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[28].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[28].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[28].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[29].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[29].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[29].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[29].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

<!--  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[30].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[30].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[30].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[30].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[31].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[31].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[31].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[31].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>


<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[32].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[32].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[32].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[32].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[33].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[33].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[33].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[33].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[34].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[34].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[34].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[34].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[35].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[35].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[35].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[35].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>



<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[36].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[36].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[36].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[36].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[37].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[37].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[37].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[37].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[38].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[38].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[38].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[38].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[39].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[39].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[39].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[39].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>


<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[40].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[40].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[40].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[40].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[41].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[41].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[41].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[41].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[42].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[42].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[42].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[42].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[43].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[43].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[43].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[43].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>


<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[44].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[44].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[44].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[44].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[45].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[45].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[45].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[45].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[46].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[46].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[46].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[46].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[47].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[47].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[47].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[47].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>


<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[48].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[48].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[48].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[48].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[49].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[49].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[49].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[49].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[50].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[50].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[50].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[50].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[51].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[51].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[51].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[51].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>



<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[52].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[52].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[52].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[52].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[53].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[53].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[53].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[53].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[54].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[54].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[54].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[54].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[55].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[55].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[55].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[55].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>

<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[56].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[56].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[56].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[56].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[57].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[57].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[57].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[57].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[58].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[58].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[58].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[58].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[59].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[59].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[59].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[59].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>

</div>

<div class="row">

  <div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{initialImagePeriodicos[60].imagePath}}>
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">{{initialImagePeriodicos[60].imageTitle}}</span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{initialImagePeriodicos[60].imageDescription}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{initialImagePeriodicos[60].link}}" target="_blank" class="waves-effect waves-light btn">Acesso ao Periódico</a>
        </div>
      </div>
  </div>


</div> -->
