.card-content {
  height: 150px;
  border-bottom: 3px solid lightblue;
  border-left: 3px solid lightblue;
  border-right: 3px solid lightblue;
  border-top: 3px solid lightblue;
}

img {
  width: 400px;
  height: 150px;
  border-top: 3px solid lightblue;
  border-left: 3px solid lightblue;
  border-right: 3px solid lightblue;
}

.grey-text{
  font-size: 12pt;
}

.teste{
  font-color: white;
}

.btn{
  margin-bottom: 10px;
}

.row{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h5 {
  text-align: center;
  margin-top: 30px;
}
