<nav class="teste">

    <div class="nav-wrapper z-depth-0">
      <a routerLink = "" class="brand-logo"><i class="material-icons">home</i> </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink = "noticias">NOTÍCIAS</a></li>
        <li><a routerLink = "base-de-dados">BASES DE DADOS</a></li>
        <li><a routerLink = "periodicos">PERIÓDICOS</a></li>
        <li><a routerLink = "graduacao">GRADUAÇÃO</a></li>
        <li><a routerLink = "pos-graduacao">PÓS-GRADUAÇÃO</a></li>
        <li><a routerLink = "concursos">CONCURSOS</a></li>
        <li><a routerLink = "livros">LIVROS</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink = "noticias">NOTÍCIAS</a></li>
        <li><a routerLink = "base-de-dados">BASES DE DADOS</a></li>
        <li><a routerLink = "periodicos">PERIÓDICOS</a></li>
        <li><a routerLink = "graduacao">GRADUAÇÃO</a></li>
        <li><a routerLink = "pos-graduacao">PÓS-GRADUAÇÃO</a></li>
        <li><a routerLink = "concursos">CONCURSOS</a></li>
        <li><a routerLink = "livros">LIVROS</a></li>
      </ul>
    </div>
  </nav>


  <!-- <ul >
     <li class="logo"> <a  href="#"><b> HOME</b> </a></li>
    <li> <a href="#"><b> NOTÍCIAS </b> </a></li>
    <li> <a href="#"> <b> BASE DE DADOS </b> </a></li>
    <li> <a href="#"> <b> PERIÓDICOS </b> </a></li>
    <li> <a href="#"> <b> BLOGS </b> </a> </li>
    <li class="icon logo"><a  class='dropdown-button btn' href='#' data-activates='dropdown1'>&#9776;</a> </li>
  </ul>

  <ul id='dropdown1' class='dropdown-content'>
     <li class="logo home"> <a  href="#"><b> HOME</b> </a></li>
    <li class="logo home"> <a href="#"><b> NOTÍCIAS </b> </a></li>
    <li class="logo home"> <a href="#"> <b> BASE DE DADOS </b> </a></li>
    <li class="logo home"> <a href="#"> <b> PERIÓDICOS </b> </a></li>
    <li class="logo home"> <a href="#"> <b> BLOGS </b> </a> </li>

  </ul>
-->
