<div class="row">
  <div class="col s12">
     <h3> Confira outros serviços disponíveis </h3>
  </div>


  </div>

  <div class="row">



      <div class="col s12 m4 l4">
        <div class="imagem">
          <img class="responsive-img" id="centro" src="../../assets/initial-page-servicos/database-icon.png" />
              <h3> Base de dados </h3>
        </div>

      </div>



        <div class="col s12 m4 l4">
          <div class="imagem">
            <img class="responsive-img" id="centro" src="../../assets/initial-page-servicos/pos-grad.png" />
          <h3> Cursos de Graduação </h3>
          </div>

        </div>


          <div class="col s12 m4 l4">

            <div class="imagem">
              <img class="responsive-img" id="centro" src="../../assets/initial-page-servicos/pos-grad.png" />
            <h3> Cursos de Pós-Graduação </h3>
            </div>

          </div>
  </div>
