
<!--  <div class="parallax-container">
    <div class="parallax"><img src="../assets/parallax/parallax-02.jpg"></div>
  </div>
  <div class="section blue">
    <div class="row container">
      <h2 class="header">Bem-vindo ao Guia Eletrônico de Biblioteconomia</h2>

    </div>
  </div> -->
  <div class="parallax-container">
    <div class="parallax">
      <img src="../assets/parallax/parallax-01.jpg">
      <h2><span class="bem-vindo"> Bem-vindo ao <br>Guia Eletrônico de Biblioteconomia </span></h2>
    </div>
  </div>
         <app-initial-page-news> </app-initial-page-news>

    <div class="parallax-container">
    <div class="parallax"><img src="../assets/parallax/parallax-02.jpg"></div>
  </div>
  <app-initial-page-periodicos> </app-initial-page-periodicos>
  <div class="parallax-container">
    <div class="parallax"><img src="../assets/parallax/parallax-01.jpg"></div>
  </div>
  <app-initial-page-database> </app-initial-page-database>
