<h3> Confira nossa lista de livros. </h3>
<p> Caso deseje comprar alguns destes livros, basta clicar na imagem que você será redirecionado imediatamente para o site que está vendendo </p>

<div class="row">
  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[0].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[0].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[0].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>

  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[1].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[1].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[1].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>

  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[2].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[2].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[2].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>

  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[3].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[3].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[3].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>
</div>



<div class="row">
  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[4].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[4].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[4].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>

  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[5].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[5].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[5].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>

  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[6].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[6].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[6].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>

  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[7].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[7].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[7].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>
</div>



<div class="row">
  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[8].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[8].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[8].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>

  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[9].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[9].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[9].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>

  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[10].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[10].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[10].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>

  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[11].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[11].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[11].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>
</div>


<div class="row">
  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[12].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[12].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[12].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>

  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[13].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[13].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[13].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>

  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[14].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[14].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[14].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>

  <div class="col s12 m4 l3">


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{livrosLista[15].imagePath}}>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{livrosLista[0].imageTitle}}<i class="material-icons right">close</i></span>
          <br>
          <a href="{{livrosLista[0].link}}" target="_blank" class="waves-effect waves-light btn">Acesso à compra</a>
        </div>
      </div>

  </div>
</div>
