img {
  width: 400px;
  height: 500px;
  border-top: 3px solid lightblue;
  border-left: 3px solid lightblue;
  border-right: 3px solid lightblue;
}

h3{
  text-align: center;
}

p {
  font-size: 18pt;
  text-align: center;
}
