         

<div class="row">
  

  <h3> Últimas notícias </h3> 

   <hr>
  <div class="col s12 m6 l3">
    <a href="#">
          <div class="card hoverable">
            <div class="card-image">
              <img src="../../assets/noticias/cosanpa.gif">
              </div>
            <div class="card-content">
              <hr>
              <p> <b>Divulgado o resultado do Concurso da Cosanpa </b>
              </p>
            </div>
           
          </div>
    </a>
  </div>

  <div class="col s12 m6 l3">
    <a href="">
          <div class="card hoverable">
            <div class="card-image">
              <img src="../../assets/noticias/codem.jpg">   </div>
            <div class="card-content">
              <hr>
              <p> <b>Codem realizará novo Concurso Público em Belém </b>
              </p>
            </div>
            
          </div>
    </a>
  </div>
        
    <div class="col s12 m6 l3">
      <a href="#">
          <div class="card hoverable">
            <div class="card-image">
              <img src="../../assets/noticias/cosanpa.gif">
              </div>
            <div class="card-content">
              <hr>
              <p> <b>Divulgado o resultado do Concurso da Cosanpa </b>
              </p>
            </div>
         
          </div>
      </a>
  </div>

  <div class="col s12 m6 l3">
    <a href="#">
          <div class="card hoverable">
            <div class="card-image">
              <img src="../../assets/noticias/codem.jpg">           </div>
            <div class="card-content">
              <hr>
              <p> <b>Codem realizará novo Concurso Público em Belém </b>
              </p>
            </div>
           
          </div>
    </a>
  </div>
    

</div>
