<div class="periodicos">
<div class = "row">
  <div class="col s12">
    <h2> Periódicos  <a routerLink ="periodicos" class="waves-effect waves-light btn">Lista Completa</a></h2>
    <hr>
  </div>
</div>

<div class="row">

  <div class="col s12 m6 l3">
    <a href="{{initialImagePeriodicos[0].link}}" target="_blank">
    <img class="hoverable" src={{initialImagePeriodicos[0].imagePath}}>
    </a>
  </div>

  <div class="col s12 m6 l3">
<a href="{{initialImagePeriodicos[1].link}}" target="_blank">
    <img class="hoverable" src="{{initialImagePeriodicos[1].imagePath}}">
    </a>
  </div>

<div class="col s12 m6 l3">
  <a href="{{initialImagePeriodicos[2].link}}" target="_blank">
    <img class="hoverable" src={{initialImagePeriodicos[2].imagePath}}>
  </a>
  </div>

  <div class="col s12 m6 l3">
   <a href="{{initialImagePeriodicos[3].link}}" target="_blank">
    <img class="hoverable" src={{initialImagePeriodicos[3].imagePath}}>
    </a>
  </div>

</div>


<div class="row">

  <div class="col s12 m6 l3">
    <a href="{{initialImagePeriodicos[4].link}}" target="_blank">
    <img class="hoverable" src={{initialImagePeriodicos[4].imagePath}}>
    </a>
  </div>

  <div class="col s12 m6 l3">
   <a href="{{initialImagePeriodicos[5].link}}" target="_blank">
    <img class="hoverable" src="{{initialImagePeriodicos[5].imagePath}}">
    </a>
  </div>

<div class="col s12 m6 l3">
  <a href="{{initialImagePeriodicos[6].link}}" target="_blank">
    <img class="hoverable" src={{initialImagePeriodicos[6].imagePath}}>
  </a>
  </div>

  <div class="col s12 m6 l3">
    <a href="{{initialImagePeriodicos[7].link}}" target="_blank">
    <img class="hoverable" src={{initialImagePeriodicos[7].imagePath}}>
    </a>
  </div>

</div>


<div class="row">

  <div class="col s12 m6 l3">
    <a href="{{initialImagePeriodicos[8].link}}" target="_blank">
    <img class="hoverable" src={{initialImagePeriodicos[8].imagePath}}>
    </a>
  </div>

  <div class="col s12 m6 l3">
    <a href="{{initialImagePeriodicos[9].link}}" target="_blank">
    <img class="hoverable" src="{{initialImagePeriodicos[9].imagePath}}">
    </a>
  </div>

<div class="col s12 m6 l3">
  <a href="{{initialImagePeriodicos[10].link}}" target="_blank">
    <img class="hoverable" src={{initialImagePeriodicos[10].imagePath}}>
  </a>
  </div>

  <div class="col s12 m6 l3">
    <a href="{{initialImagePeriodicos[11].link}}" target="_blank">
    <img class="hoverable" src={{initialImagePeriodicos[11].imagePath}}>
    </a>
  </div>

</div>


<div class="row">

  <div class="col s12 m6 l3">
    <a href="{{initialImagePeriodicos[12].link}}" target="_blank">
    <img class="hoverable" src={{initialImagePeriodicos[12].imagePath}}>
    </a>
  </div>

  <div class="col s12 m6 l3">
    <a href="{{initialImagePeriodicos[13].link}}" target="_blank">
    <img class="hoverable" src="{{initialImagePeriodicos[13].imagePath}}">
    </a>
  </div>

<div class="col s12 m6 l3">
  <a href="{{initialImagePeriodicos[14].link}}" target="_blank">
    <img class="hoverable" src={{initialImagePeriodicos[14].imagePath}}>
  </a>
  </div>

  <div class="col s12 m6 l3">
    <a href="{{initialImagePeriodicos[15].link}}" target="_blank">
    <img class="hoverable" src={{initialImagePeriodicos[15].imagePath}}>
    </a>
  </div>

</div>

<hr>



</div>
