<h3> Confira a lista de concursos abertos com vagas para o cargo de Bibliotecário </h3>
<div class="tabela">

  <table class="striped centered">
        <thead>
          <tr>
              <th>Órgão</th>
              <th>UF</th>
              <th>Vagas (Ao todo)</th>
          </tr>
        </thead>

        <tbody>
          <tr>
          <a href="https://www.concursosnobrasil.com.br/concursos/df/concurso-camara-legislativa-do-distrito-federal.html" target="_blank"><td> <p>CLDF - Câmara Legislativa do Distrito Federal</p> </td> </a>
            <td>DF</td>
            <td>86</td>
          </tr>
          <tr>
            <a href=" https://www.concursosnobrasil.com.br/concursos/df/concurso-camara-legislativa-do-distrito-federal.html" target="_blank" ><td> <p>CRF/RS - Conselho Regional de Farmácia do Rio Grande do Sul</p> </td> </a>
            <td>RS</td>
            <td>11</td>
          </tr>
          <tr>
            <a href="https://www.concursosnobrasil.com.br/concursos/ms/2017/08/tj-ms-promove-concurso-publico.html" target="_blank"><td> <p> Tribunal de Justiça de Mato Grosso do Sul</p> </td> </a>
            <td>MS</td>
            <td>Várias</td>
          </tr>

          <tr>
            <a href="https://www.concursosnobrasil.com.br/concursos/sc/fcee-divulga-edital-de-processo-seletivo.html" target="_blank"><td> <p>FCEE - Fundação Catarinense de Educação Especial</p> </td> </a>
            <td>SC</td>
            <td>3</td>
          </tr>

          <tr>
          <a href="https://www.concursosnobrasil.com.br/concursos/sc/concurso-fundacao-indaialense-de-cultura-sc.html" target="_blank">  <td> <p>Fundação Indaialense de Cultura</p> </td> </a>
            <td>SC</td>
            <td>5</td>
          </tr>

          <tr>
            <a href="https://www.concursosnobrasil.com.br/concursos/pe/prefeitura-de-cabo-de-santo-agostinho-pe.html" target="_blank"><td> <p>Prefeitura de Cabo de Santo Agostinho</p> </td> </a>
            <td>PE</td>
            <td>2242</td>
          </tr>

          <tr>
            <a href="https://www.concursosnobrasil.com.br/concursos/go/concurso-prefeitura-de-santo-antonio-de-goias-go.html" target="_blank"><td> <p> Prefeitura Santo Antônio de Goiás</p> </td> </a>
            <td>GO</td>
            <td>32</td>
          </tr>
        </tbody>
      </table>


</div>


<h3> Confira a lista de concursos abertos com vagas para o cargo de Bibliotecário documentalista</h3>
<div class="tabela">

  <table class="striped centered">
        <thead>
          <tr>
              <th>Órgão</th>
              <th>UF</th>
              <th>Vagas (Ao todo)</th>
          </tr>
        </thead>

        <tbody>
          <tr>
          <a href="https://www.concursosnobrasil.com.br/concursos/ba/concurso-da-ufba.html" target="_blank"><td> <p>UFBA - Universidade Federal da Bahia</p> </td> </a>
            <td>BA</td>
            <td>252</td>
          </tr>
          <tr>
            <a href="https://www.concursosnobrasil.com.br/concursos/ce/2017/08/concurso-ufc-ce.html" target="_blank" ><td> <p>UFC - Universidade Federal do Ceará </p> </td> </a>
            <td>CE</td>
            <td>44</td>
          </tr>
          <tr>
            <a href="https://www.concursosnobrasil.com.br/concursos/rj/2017/08/concurso-ufrj-1.html" target="_blank"><td> <p> UFRJ - Universidade Federal do Rio de Janeiro</p> </td> </a>
            <td>RJ</td>
            <td>153</td>
          </tr>
        </tbody>
      </table>


</div>
