
<h3> Confira as principais bases de dados brasileiras listadas abaixos </h3>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><p> LIBES - Literatura Brasileira em Biblioteca Escolar </p> </div>
    <div class="collapsible-body"><p>A LIBES é mantida pelo Grupo de Estudos em Biblioteca Escolar - ECI - UFMG.  Essa base de dados é baseada no refbase, uma interface de código livre, para administração de documentos científicos e citações. </p>  <br> <a href="http://libes.eci.ufmg.br/" target="_blank" class="waves-effect waves-light btn">Link de Acesso</a></div>
  </li>
  <li>
    <div class="collapsible-header"> <p> BASE DE DADOS ECI </p> </div>
    <div class="collapsible-body">

    <br> <a href="http://bases.eci.ufmg.br/" target="_blank" class="waves-effect waves-light btn">Link de Acesso</a></div>
  </li>
  <li>
    <div class="collapsible-header"><p> BRAPCI </p></div>
    <div class="collapsible-body" >   <a href="http://www.brapci.ufpr.br/brapci/" target="_blank" class="waves-effect waves-light btn">Link de Acesso</a></div>
  </li>

  <li>
    <div class="collapsible-header"><p> BASE PERI </p></div>
    <div class="collapsible-body" >   <a href="http://bases.eci.ufmg.br/peri.htm" target="_blank" class="waves-effect waves-light btn">Link de Acesso</a></div>
  </li>
</ul>
